body{
    background: url("../assets/img/bg1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
    margin: 0;
}

.logo{
    width: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    
    text-align: center;
}

.cuadro{
    margin: auto;
    margin-top: 60px;
    width: 600px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px 30px;

}