body{
    background: url("../assets/img/bg1.png");
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: 0;
    margin: auto;
    width: 100%;
    padding-bottom: 70px;
    display: flex;
    flex-flow: column;

}

.logo{
    width: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.tablero {
    width: 100%;
    display: flex;

}

.tablero-img {
    width: 980px;
    margin: auto;
}

.contador-puntaje {
    display: flex;
    justify-content: center;
    
}

h2 {
    position: absolute;
    top: 240px;
    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.puntaje-vos {
    
    padding-right: 880px;
}

.puntaje-pc {
    
    padding-left: 880px;
}


.jugada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jugada-vos, .jugada-pc {
    position: absolute;
    top: 195px;
    
    height: 170px;
}

.jugada-vos {
    
    padding-right: 525px;
}

.jugada-pc {
    
    padding-left: 525px;
}

.resultados {
    width: 100%;
    display: flex;
    justify-content: center;
}

.resultado {
    position: fixed;
    bottom: 15px;
    height: 50px;
}

.bg-resultado {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;

}


.replay, .restart {
    position: fixed;
    right: 100px;
    bottom: 15px;
    height: 50px;
}

.replay {
    margin-right: 70px;
}


.replay:hover, .restart:hover {
    cursor: pointer;
}











/* clases de cosas escritas en javascript */
h1{
    font-size: 17px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    
    text-align: center;
}

.cuadro{
    margin: auto;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 30px;

}

.imgResultado{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 35px;
}

.cuadro_nombre{
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 30px;

}