body{
    background: url("../../assets/ppt/img/bg1.png");
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: 0;
    margin: auto;
    width: 100%;
    padding-bottom: 70px;
    display: flex;
    flex-flow: column;

}

/* --------------------logo */
.logo{
    width: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.tablero {
    width: 100%;
    display: flex;

}

.tablero-img {
    width: 980px;
    margin: auto;
}

.contador-puntaje {
    display: flex;
    justify-content: center;
    
}

h1{
    font-size: 17px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    
    text-align: center;
}

h2 {
    position: absolute;
    top: 240px;
    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.puntaje-vos {
    
    padding-right: 880px;
}

.puntaje-pc {
    
    padding-left: 880px;
}


.jugada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jugada-vos, .jugada-pc {
    position: absolute;
    top: 195px;
    
    height: 170px;
}

.jugada-vos {
    
    padding-right: 525px;
}

.jugada-pc {
    
    padding-left: 525px;
}



/* --------------------logo y navegacion*/
.resultados {
    width: 100%;
    display: flex;
    justify-content: center;
}

.resultado {
    position: fixed;
    bottom: 35px;
    height: 50px;
}


.replay, .restart, .home {
    position: fixed;
    right: 100px;
    bottom: 35px;
    height: 50px;
}

.bg-resultado {
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 80px;

}

.restart {
    margin-right: 70px;
}

.replay {
    margin-right: 140px;
}


.replay:hover, .restart:hover, .home {
    cursor: pointer;
}



/* --------------------footer */

footer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 20px;

    background-color: rgba(0, 0, 0, 0.4);
}

.link-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.instagram-img {
    height: 12px;
    padding-right: 10px;
    padding-left: 25px;
}

.text-footer {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 10px;
}
